.avioes{
width: 100%;
border-collapse: collapse;
border: 1px solid black;
border-radius: 8px;
}
.avioes thead tr{
background-color: #5b8fc4;
color: white;
}

/*class="tabela-xmen"      
<thead>
    <tr>
        <th> <----
*/.avioes thead tr th.avioes tbody tr td{
/* padding: 14*/
padding: 15px 16px;
text-align: left;
}
.avioes tbody tr{
    border-bottom: px solid #e5e7eb;
}
.avioes tbody tr{
border-bottom: 1px solid #e5e7eb;
transition: background 0.2s ease;
}
.avioes tbody tr:nth-child(even){
background-color: #f9fafb;
}
.avioes tbody tr:hover{
background-color: #eef2ff;
}
.avioes thead th{
font-size: 25px;
letter-spacing: 0.5px;
text-align: left;
}
.avioes thead td{
color: #444;
}
.avioes tbody tr td img{
max-width: 150px;
}