body {
margin: 0;

}



.menu{
    min-height: 100%;
    width: 300px;
    flex-direction: column;
    align-items: center;
    background-color: #2b6f97;
    margin-right: 30px;
}

.menu button {
    color: rgb(20, 20, 20);
    text-decoration: none;
    padding: 30px 40px;
    font-weight: bold;
    background-color: #2b6f97;
    width: 100%;
    border: 0;
}

.menu button:hover {
    background-color: #ff7a00;

}

.imagem-aviao1{
text-align: center;
display:flex;
flex-direction: column;
}

.imagem-aviao2{
text-align: center;
display:flex;
flex-direction: column;
}
.imagem-aviao1 img{
width: 400px;
height:200px;
display:flex;
flex-direction: column;

}

.imagem-aviao2 img{
width: 400px;
height:200px;
display:flex;

}

.conteudo {
width:100%;
min-height: 800px;
display: flex;
}

.produtos {
 width: 100%;
 display: flex;
 align-items: start;
 justify-content: space-evenly;
}