body {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    border: 3px solid black;
}

.container img {
    width: 500px;
    margin: 30px;
}

.container p{
    width: 75%;
}

.objetivo p {
    text-align: right;
}

.objetivo img {
    width: 300px;

}

.parcerias {
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.parcerias img {
    width: 100%;
}